.image{
    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
}

.navigation{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    margin-bottom: 25.5px;
}
.navigation li{
    display:inline;
    margin-right: 72px;
}
.navigation a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text-center{
    display: block;
    color: #373737;
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.button{
    background-color: #FF0000;
    display:inline-block;
    color:#ffffff;
    font-family: 'Montserrat';
    font-size:12px;
    padding:6px 24px;
    text-decoration:none;
    border-radius:6px;
    text-transform: uppercase;
    margin: 50px;
}
h2{
    text-transform: uppercase;
}

.copyright{
    font-family: 'Montserrat';
    text-align: right;
    width: 50%;
    margin: auto;
}




